<!DOCTYPE html>
<head>
  <%- include ('./partials/head') %>
  <title>Covid19 Sentiment Analysis</title>
  <style>
    #sidebar {
      width: 30%;
      max-height: 80vh;
      overflow: auto;
      float: left;
    }
    #articlebar {
      margin-top: 30px;
    }
    .title, .date {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }
    .date {
      margin: 0;
    }
    .articlebox {
      margin: 20px;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0px 3px 5px 2px #888888;
    }
    .articlebox:hover {
      cursor: pointer;
      background-color: mediumseagreen;
      color: white;
    }
    .articleboxclick {
      margin: 20px;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0px 3px 5px 2px #888888;
      background-color: green;
      color: white;
    }
    .article
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }
    #main {
      width: 68%;
      overflow-x: hidden;
      float: right;
      display: inline;
    }
    #main .title {
      text-align: left;
      font-weight: 400;
      margin-bottom: 5px;
      width: 90%;
    }
    .link, .outline, .summary {
      font-family: 'Open Sans', sans-serif;
      width: 90%;
    }
    .link {
      margin: 5px;
    }
    a {
      text-decoration: none;
      color: steelblue;
    }
    .smalltext {
      margin: 0;
      display: inline;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }
    td {
      vertical-align: center;
    }
    .material-icons {
      font-size: 35px;
      position: relative;
      top: 6px;
      color: black;
    }
    .bigNumber {
      font-family: "Open Sans", sans-serif;
      font-size: 4em;
      display: inline;
      margin: 0px;
    }
    #summaryText {
      max-height: 80px;
      overflow: auto;
    }
    #option{
      margin-left: 20px;
      left: 20px;
    }
    #optionBtn, label {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      display: inline-block;
      margin-bottom: 10;
      margin-top: 0px;
    }
  </style>
</head>
<body>
  <%- include ('./partials/header') %>

    <div id = 'option'>
      <p id = "optionBtn">Choose Which Articles to Show:</p>
      <input type = "radio" name = "opt" onchange="articlesOption('all')" id = "allCb" checked><label>All Articles</label>
      <input type = "radio" name = "opt" onchange="articlesOption('health')" id = "hCb"><label>Healthcare Articles</label>
      <input type = "radio" name = "opt" onchange="articlesOption('man')" id = "manCb"><label>Manpower Articles</label>
      <input type = "radio" name = "opt" onchange="articlesOption('ed')" id = "edCb"><label>Education Articles</label>
      <input type = "radio"name = "opt"  onchange="articlesOption('other')" id = "otherCb"><label>Other Articles</label>
    </div>
  <div id = 'sidebar'>
    <div id = 'articlebar'>
  <% for (var i = 0; i < Object.keys(data).length; i++){ %>
    <div class = 'articlebox <%= data[i]["category"] %>' id = '<%= i %>' onclick='(function onclick() {
      document.getElementById("maintitle").innerHTML ="<%= data[i]["title"] %>";
      document.getElementById("source").innerHTML ="<%= data[i]["url"] %>";
      document.getElementById("date").innerHTML ="<%= data[i]["date"] %>";
      document.getElementById("link").href ="<%= data[i]["url"] %>";
      document.getElementById("summaryText").innerHTML ="<%= data[i]["summary"] %>";
      document.getElementById("sentimentLevel").innerHTML ="<%= data[i]["sentiment"] %>";
      var desc = <%= data[i]["sentiment"] %> < -0.2 ? "Negative" : <%= data[i]["sentiment"] %> > 0.2 ? "Positive" : "Neutral";
      document.getElementById("overallDesc").innerHTML = desc;
      document.getElementById("bPos").innerHTML = "<%= data[i]["breakdown"]["positive"] %>";
      document.getElementById("bNeg").innerHTML = "<%= data[i]["breakdown"]["negative"] %>";
      document.getElementById("bNeu").innerHTML = "<%= data[i]["breakdown"]["neutral"] %>";
    })(); test(<%= i %>)'>
    <h3 class = 'title'><%= data[i]['title'] %></h3>
    <h5 class = 'date'><%= data[i]['date'] %>, Sentiment: <%= data[i]['sentiment'] %></h5>
    </div>
  <% } %>
  </div>
</div>
  <div id = 'main'>
    <h1 class = 'title' id = 'maintitle'><%= data[prev]['title'] %></h1>
    <h4 class = 'link'><span id = 'date'><%= data[prev]['date'] %></span>, Source: <a id = "link" href = '<%= data[prev]['url'] %>' target ='_blank'><span  id = 'source'> <%= data[prev]['url'] %></span></a></h4>
    <hr align = 'left' width = '90%'>
    <p class = 'summary' id = 'summaryText'><%= data[prev]['summary'] %></p>
    <hr align = 'left' width = '90%'>
    <div style="display: inline-block">
      <table>
      <tr>
        <td>
          <h3 class = 'title'>Overall Sentiment</h3>
        </td>
        <tr>
          <td>
            <div id = "sentiment"></div>
          </td>
          <td>
            <h1 class = "bigNumber" id = "sentimentLevel"><%= data[prev]["sentiment"] %></h1><br/>
            <h1 class = "smalltext" id = "overallDesc"></h1>
          </td>
        </tr>
        <td>
        </table>
      </div>
      <div style="display: inline-block; margin-left: 40px;">
          <table>
            <tr>
              <td>
                <h3 class = 'title'>Breakdown</h3>
              </td>
            </tr>
            <tr>
              <td>
                <div id = "breakdown"></div>
              </td>
              <td>
                <table>
                  <tr>
                    <td>
                      <h1 class = "smalltext" style = "color: green"><i class="material-icons">sentiment_very_satisfied</i> Positive: <span id = "bPos"><%= data[prev]["breakdown"]["positive"] %></span>%</h1>
                    </td>
                  </tr>
                    <tr>
                      <td><h1 class = "smalltext" style = "color: #e6ac00"><i class="material-icons">  sentiment_satisfied</i> Neutral: <span id = "bNeu"><%= data[prev]["breakdown"]["neutral"] %></span>%</h1>
                      </td>
                    </tr>
                      <tr>
                        <td><h1 class = "smalltext" style = "color: orangered"><i class="material-icons">sentiment_very_dissatisfied</i> Negative: <span id = "bNeg"><%= data[prev]["breakdown"]["negative"] %></span>%</h1>
                        </td>
                      </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div display>
          <h3 class = 'title'>Word Cloud</h3>
          <div><img id = "wordcloud" style="height: 180px; width: auto; margin-left: 50px; margin-top: 5px;"></div>
        </div>
  </div>
  <script>
    function articlesOption(name) {
      if (name == 'health') {
        var h = document.getElementsByClassName("articlebox");
        for (var i = 0; i < h.length; i++) {
          h[i].style.display = "none";
        }
        var d = document.getElementsByClassName("articlebox health");
        for (var i = 0; i < d.length; i++) {
          d[i].style.display = "block";
        }
      }
      if (name == 'man') {
        var h = document.getElementsByClassName("articlebox");
        for (var i = 0; i < h.length; i++) {
          h[i].style.display = "none";
        }
        var d = document.getElementsByClassName("articlebox manpower");
        for (var i = 0; i < d.length; i++) {
          d[i].style.display = "block";
        }
      }
      if (name == 'ed') {
        var h = document.getElementsByClassName("articlebox");
        for (var i = 0; i < h.length; i++) {
          h[i].style.display = "none";
        }
        var d = document.getElementsByClassName("articlebox education");
        for (var i = 0; i < d.length; i++) {
          d[i].style.display = "block";
        }
      }
      if (name == 'other') {
        var h = document.getElementsByClassName("articlebox");
        for (var i = 0; i < h.length; i++) {
          h[i].style.display = "none";
        }
        var d = document.getElementsByClassName("articlebox others");
        for (var i = 0; i < d.length; i++) {
          d[i].style.display = "block";
        }
      }
      if (name == 'all') {
        var h = document.getElementsByClassName("articlebox");
        for (var i = 0; i < h.length; i++) {
          h[i].style.display = "block";
        }
      }
    }
    var curr = 0;
    var sentiments = [];
    var breakdownPos = [];
    var breakdownNeg = [];
    var breakdownNeu = [];
    var wordcloud = [];
    (function(){
      document.getElementById("allCb").checked = true;
      document.getElementById("manCb").checked = false;
      document.getElementById("edCb").checked = false;
      document.getElementById("hCb").checked = false;
      document.getElementById("otherCb").checked = false;
      <% for (var i = 0; i < Object.keys(data).length; i++){ %>
        sentiments.push(<%= data[i]["sentiment"] %>);
        breakdownPos.push(<%= data[i]["breakdown"]["positive"] %>)
        breakdownNeg.push(<%= data[i]["breakdown"]["negative"] %>)
        breakdownNeu.push(<%= data[i]["breakdown"]["neutral"] %>)
        wordcloud.push("http://localhost/static/images<%- data[i]["wordcloud"] %>.png")
      <% } %>
      var div = document.getElementById('0');
     div.classList.add('articleboxclick');
     div.classList.remove('articlebox');
     var level = document.getElementById("overallDesc");
     if (<%= data[prev]["sentiment"] %> < -0.3) {
       level.innerHTML = "Negative";
     } else if (<%= data[prev]["sentiment"] %> > 0.3) {
       level.innerHTML = "Positive";
     } else {
       level.innerHTML = "Neutral";
     }
     var overallConfig = {
       type: 'gauge',
       "plotarea":{
         "y": 60
    },
       scale: {
         'size-factor': 1.4
       },
       'scale-r': {
         aperture: 200,
         values: "-1:1:0.1",
         center: {
           visible: false
         },
         ring: {
           size: 10,
           rules: [
             {
               rule: "%v < -0.3",
               'background-color': "orangered"
             }, {
               rule: "%v >= -0.3 && %v <= 0.3",
               'background-color': "#e6ac00"
             }, {
               rule: "%v >= 0.3 && %v <= 1.0",
               'background-color': 'green'
             }
           ]
         }
       },
       plot: {
         csize: "5%",
         size: "80%",
         'background-color': "#000000",
         'value-box': { //Value Boxes
           placement: "center",  //Specify placement at "center", "tip", or "edge".
           visible: false,
           text: "%v",
           fontSize: 25,
           'font-color': "black",
           rules: [
             {
               rule: "%v < -0.3",
               text: "%v<br>Negative",
               'font-color': 'orangered'
             }, {
               rule: "%v >= -0.3 && %v <= 0.3",
               text: "%v<br>Neutral",
               'font-color': '#e6ac00'
             },{
               rule: "%v > 0.3",
               text: "%v<br>Positive",
               'font-color': 'green'
             },
           ]
         }
       },
       series: [{
         values: [<%= data[0]["sentiment"] %>],
         indicator: [3, 0, 0, 0, 0],
         "csize": "5"
       }]
     }
     var breakdownConfig = {
   type: "ring",
   "plotarea" : {
     "y" : 20
   },
   plot: {
     slice: 0.7,
     'value-box': {
       visible: false
     }
   },
   series: [
     {
       values: [<%= data[0]["breakdown"]["negative"] %>], //negative
       'background-color': 'orangered'
     }, {
       values: [<%= data[0]["breakdown"]["neutral"] %>], //neutral
       'background-color': '#e6ac00'
     }, {
       values: [<%= data[0]["breakdown"]["positive"] %>], //good
       'background-color': 'green'
     }

   ]
 }
  document.getElementById("wordcloud").src = wordcloud[0];
     zingchart.render({
           id : 'sentiment',
           data : overallConfig,
           width: 300,
           height: 180,
     });
     zingchart.render({
           id : 'breakdown',
           data : breakdownConfig,
           width: 200,
           height: 180,
     });
    })();

    function test(i) {
      var div = document.getElementById(i);
      var prev = document.getElementById(curr);
      prev.classList.remove('articleboxclick');
      prev.classList.add('articlebox');
      div.classList.add('articleboxclick');
      curr = i;
      document.getElementById("wordcloud").src = wordcloud[i];
      let overallConfig = {
        type: 'gauge',
        "plotarea":{
          "y": 60
     },
        scale: {
          'size-factor': 1.4
        },
        'scale-r': {
          aperture: 200,
          values: "-1:1:0.1",
          center: {
            visible: false
          },
          ring: {
            size: 10,
            rules: [
              {
                rule: "%v < -0.3",
                'background-color': "orangered"
              }, {
                rule: "%v >= -0.3 && %v <= 0.3",
                'background-color': "#e6ac00"
              }, {
                rule: "%v >= 0.3 && %v <= 1.0",
                'background-color': 'green'
              }
            ]
          }
        },
        plot: {
          csize: "5%",
          size: "80%",
          'background-color': "#000000",
          'value-box': { //Value Boxes
            placement: "center",  //Specify placement at "center", "tip", or "edge".
            visible: false,
            text: "%v",
            fontSize: 25,
            'font-color': "black",
            rules: [
              {
                rule: "%v < -0.3",
                text: "%v<br>Negative",
                'font-color': 'orangered'
              }, {
                rule: "%v >= -0.3 && %v <= 0.3",
                text: "%v<br>Neutral",
                'font-color': '#e6ac00'
              },{
                rule: "%v > 0.3",
                text: "%v<br>Positive",
                'font-color': 'green'
              },
            ]
          }
        },
        series: [{
          values: [sentiments[i]],
          indicator: [3, 0, 0, 0, 0],
          "csize": "5"
        }]
      }
      var breakdownConfig = {
    type: "ring",
    "plotarea" : {
      "y" : 20
    },
    plot: {
      slice: 0.7,
      'value-box': {
        visible: false
      }
    },
    series: [
      {
        values: [breakdownNeg[i]], //negative
        'background-color': 'orangered'
      }, {
        values: [breakdownNeu[i]], //neutral
        'background-color': '#e6ac00'
      }, {
        values: [breakdownPos[i]], //good
        'background-color': 'green'
      }

    ]
  }
  zingchart.exec('sentiment', 'destroy');
      zingchart.render({
            id : 'sentiment',
            data : overallConfig,
            width: 300,
            height: 180,
      });
      zingchart.render({
            id : 'breakdown',
            data : breakdownConfig,
            width: 200,
            height: 180,
      });
  }


  </script>
</body>
