<!DOCTYPE html>
<head>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

  <%- include ('./partials/head') %>
  <title>Covid19 Sentiment Analysis</title>
  <style>
    .section {
      box-shadow: 0px 3px 5px 2px #888888;
      padding: 10px 15px;
      margin: 30px;
      display: inline-block;
    }
    .label {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      margin: 10px 30px;
    }
    .bigNumber {
      font-family: "Open Sans", sans-serif;
      font-size: 4em;
      display: inline;
      margin: 0px;
    }
    .chart{
      display: inline-block;
    }
    .smalltext {
      margin: 0;
      display: inline;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }
    .breakdown td {
      vertical-align: center;
    }
    .material-icons {
      font-size: 35px;
      position: relative;
      top: 6px;
      color: black;
    }
  </style>
</head>
<body>
  <%- include ('./partials/header') %>
  <div id = "overallSection" class = "section">
    <h1 class = "label">Overall Sentiment</h1>
    <table>
      <tr>
        <td>
    <div id='overallSentiment' class = "chart"></div>
  </td>
  <td>
    <div class = "desc">
      <h1 class = "bigNumber"><%= data.overall %></h1><h1 class = "smalltext">/1.0</h1></br>
      <h1 class = "smalltext" id = "overallDesc"></h1>
    </div>
  </tr>
</table>
  </div>
  <div id = "breakdownSection" class = "section">
    <h1 class = "label">Breakdown</h1>
    <table>
      <tr>
        <td>
    <div id='breakdown' class = "chart"></div>
  </td>
  <td>
    <div class = "desc">
      <table>
        <tr>
          <td>
            <h1 class = "smalltext" style = "color: green"><i class="material-icons">sentiment_very_satisfied</i> Positive: <%= data.breakdown[0] %>%</h1>
          </td>
        </tr>
          <tr>
            <td><h1 class = "smalltext" style = "color: coral"><i class="material-icons">  sentiment_satisfied</i> Neutral: <%= data.breakdown[1] %>%</h1>
            </td>
          </tr>
            <tr>
              <td><h1 class = "smalltext" style = "color: orangered"><i class="material-icons">sentiment_very_dissatisfied</i> Negative: <%= data.breakdown[2] %>%</h1>
              </td>
            </tr>
      </table>
    </div>
  </tr>
  </table>
  </div>
  <script>
  (function(){
      var level = document.getElementById("overallDesc");
      if (<%= data.overall %> < 0.4) {
        level.innerHTML = "Negative";
        level.style.color = "orangered"
      } else if (<%= data.overall %> > 0.6) {
        level.innerHTML = "Positive";
        level.style.color = "green";
      } else {
        level.innerHTML = "Neutral";
        level.style.color = "coral";
      }
    })();
    const overallConfig = {
      type: 'gauge',
      "plotarea":{
        "y": 60
   },
      scale: {
        'size-factor': 1.4
      },
      'scale-r': {
        aperture: 200,
        values: "0:1:0.1",
        center: {
          visible: false
        },
        ring: {
          size: 10,
          rules: [
            {
              rule: "%v >= 0 && %v <= 0.4",
              'background-color': "orangered"
            }, {
              rule: "%v >= 0.4 && %v <= 0.6",
              'background-color': "gold"
            }, {
              rule: "%v >= 0.6 && %v <= 1.0",
              'background-color': 'green'
            }
          ]
        }
      },
      plot: {
        csize: "5%",
        size: "80%",
        'background-color': "#000000",
        'value-box': { //Value Boxes
          placement: "center",  //Specify placement at "center", "tip", or "edge".
          visible: false,
          text: "%v",
          fontSize: 25,
          'font-color': "black",
          rules: [
            {
              rule: "%v < 0.4",
              text: "%v<br>Negative",
              'font-color': 'orangered'
            }, {
              rule: "%v >= 0.4 && %v <= 0.6",
              text: "%v<br>Neutral",
              'font-color': 'gold'
            },{
              rule: "%v > 0.6",
              text: "%v<br>Positive",
              'font-color': 'green'
            },
          ]
        }
      },
      series: [{
        values: [<%= data.overall %>],
        indicator: [3, 0, 0, 0, 0],
        "csize": "5"
      }]
    }
    const breakdownConfig = {
  type: "ring",
  "plotarea" : {
    "y" : 20
  },
  plot: {
    slice: 0.7,
    'value-box': {
      visible: false
    }
  },
  series: [
    {
      values: [<%= data.breakdown[2] %>], //negative
      'background-color': 'orangered'
    }, {
      values: [<%= data.breakdown[1] %>], //neutral
      'background-color': 'gold'
    }, {
      values: [<%= data.breakdown[0] %>], //good
      'background-color': 'green'
    }

  ]
}
    zingchart.render({
	      id : 'overallSentiment',
	      data : overallConfig,
        width: 300,
        height: 200,
  });
  zingchart.render({
      id : 'breakdown',
      data : breakdownConfig,
      width: 180,
      height: 200
});
  </script>
</body>
