<!DOCTYPE html>
<head>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script src="//www.zingchart.com/scripts/zcDocs.js"></script>
  <script src='//code.jquery.com/jquery-2.1.4.min.js'></script>
  <%- include ('./partials/head') %>
  <title>Covid19 Sentiment Analysis</title>
  <style>
    html, body {
      height: 100%;
      width: 100%;
      /* box-shadow: 0px 3px 5px 2px #888888;
      padding: 10px;
      display: inline-block;
      margin: 30px; */
    }
  #time_sentiment_cases_plot {
  height:80vh;
  width:100%;
  min-height:150px;
  float: left;
  }
  #event_col {
    vertical-align: top;
    line-height: normal;
  }
  .event_tiles {
    text-align: left;
    white-space: normal;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem;
    font-size: 1.2vw; 
    margin: 10px;
    padding: 5px;
    box-shadow: 0 2px 2px grey;
    display: block;
    width: 25vw;
    word-wrap: normal;
    font-family: "Open Sans", sans-serif;
  }
  .event_tiles:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
  }
  .event_tiles:focus {
    cursor: pointer;
    background-color: black;
    color: white;
  }
  .plot {
    display: none;
  }
  </style>
</head>
<body>
  <%- include ('./partials/header') %>
  <table style="width:100%; ">
    <col width="60%">
    <col width="25%">
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
        <td id='time_sentiment_cases_plot'><a class="plot">Plot</a></td>
        <td id='event_col'>
          <h2 style="font-size: 2vw; font-family: Open Sans, sans-serif;
          font-weight: 400;margin-left: 5%; font-weight: 560;">Headlines</h2>
           <h2 style="text-align: center; max-height: 70vh; overflow: auto;">
            <div" id="'important_events'"></div>
            </h2></td>
    </tr>
  </table> 
  </div>
  <script>
    const startUTC = <%=startUTC%>;
    function formatString(str) {
    num = 150;
    if (str.length <= num) {
      return str.replace("&#39","'").replace(";","");
    }
    return str.replace("&#39","'").replace(";","").slice(0, num) + '...';
    }
    fetch("https://pomber.github.io/covid19/timeseries.json").then(response => response.json())
    .then(data => {
    var cases = [];
    var len = data["Singapore"].length;
    for (var i = 1 + <%=startDay %>; i < len; i++) {
        cases.push(data["Singapore"][i]["confirmed"]);
    }
    var important_events_list = { 
        <% Object.keys(events).forEach(function(key) { %>
       "<%= key %>": <%= events[key] %>,
        <% }); %>
    }
    for ([event, time] of Object.entries(important_events_list)) {
        var button = document.createElement("input");
        button.type = "button";
        button.value = formatString(event);
        button.className = "event_tiles";
        (function(index){
        button.addEventListener("click", function() {
            zingchart.exec('time_sentiment_cases_plot', 'setguide', {
            graphid:0,
            keyvalue: <%=firstDayUTC%> + 24 * 3600000 * index
            });
        })
        })(time)
        var ie = document.getElementById("'important_events'");
        ie.appendChild(button);
    }
    var plotConfig = 
            {
                "type": "mixed",
                "utc": true,
                "title": {
                    "text": "Sentiments over time",
                    "font-size": "24px",
                    "adjust-layout":true
                },
                "plotarea": {
                    // "margin": "dynamic 45 60 dynamic",
                    "marginLeft":'dynamic',
                    "marginRight":'dynamic'
                },
                "legend": {
                    "layout": "float",
                    "background-color": "none",
                    "border-width": 0,
                    "shadow": 0,
                    "align":"center",
                    "adjust-layout":true,
                  	"toggle-action": "remove",
                    "item":{
                      "padding": 7,
                      "marginRight": 17,
                      "cursor":"hand"
                    }
                },
                "scale-x": {
                    "min-value": startUTC,
                    "shadow": 0,
                    "step": 24 * 3600000,
                    "transform": {
                        "type": "date",
                        "all": "%D, %d %M<br />",
                        "guide": {
                            "visible": true,
                            'colour': "purple"
                        },
                        "item": {
                            "visible": false
                        }
                    },
                    "label": {
                        "visible": true
                    },
                    "minor-ticks": 0
                },
                "scale-y": {
                    "line-color": "#f6f7f8",
                    "shadow": 0,
                    "guide": {
                        "line-style": "dashed"
                    },
                    "label": {
                        "text": "Confirmed Cases",
                        "font-size":"20vw"
                    },
                    "minor-ticks": 0,
                    "thousands-separator": ","
                },
                "scaleY2": {
                    "line-color": "#f6f7f8",
                    "shadow": 0,
                    "guide": {
                        "line-style": "dashed"
                    },
                    "label": {
                    "text": 'Sentiments',
                    "font-size":"20vw"
                    },
                    "minor-ticks": 0,
                    "thousands-separator": ",",
                    short: true
                },
                "crosshair-x": {
                    "line-color": "#efefef",
                    "plot-label": {
                        "border-radius": "5px",
                        "border-width": "1px",
                        "border-color": "#f6f7f8",
                        "padding": "10px",
                        "font-weight": "bold"
                    },
                    "scale-label": {
                        "font-color": "#000",
                        "background-color": "#f6f7f8",
                        "border-radius": "5px"
                    }
                },
                "tooltip": {
                    "visible": false
                },
                "plot": {
                    "highlight":true,
                    "tooltip-text": "%t views: %v<br>%k",
                    "shadow": 0,
                    "line-width": "2px",
                    "marker": {
                        "type": "circle",
                        "size": 3
                    },
                    "highlight-state": {
                        "line-width":3
                    },
                    "animation":{
                      "effect":1,
                      "sequence":2,
                      "speed":100,
                    }
                },
                "series": [
                    {
                        "values": cases,
                        "scales": 'scale-x, scale-y',
                        "type": "line",
                        "text": "Confirmed Cases",
                        "line-color": "#007790",
                        "legend-item":{
                          "background-color": "#007790",
                          "borderRadius":5,
                           "font-color":"white"
                        },
                        "legend-marker": {
                            "visible":false
                        },
                        "marker": {
                            "background-color": "#007790",
                            "border-width": 1,
                            "shadow": 0,
                            "border-color": "#69dbf1"
                        },
                        "highlight-marker":{
                          "size":6,
                          "background-color": "#007790",
                        }
                    },  
                    {
                        "values": [
                                    <% sentiments["negative"].forEach(element => { %>
                                        <%=element%>,
                                    <% }); %>
                                    ],
                        "scales": 'scale-x, scale-y-2',
                        "stacked":true,
                        "type": "bar",
                        "text": "Negative Sentiment",
                        "line-color": "#da534d",
                        "legend-item":{
                          "background-color": "#da534d",
                          "borderRadius":5,
                          "font-color":"white"
                        },
                        "legend-marker": {
                            "visible":false
                        },
                        "marker": {
                            "background-color": "#da534d",
                            "border-width": 1,
                            "shadow": 0,
                            "border-color": "#faa39f"
                        },
                        "highlight-marker":{
                          "size":6,
                          "background-color": "#da534d",
                        }
                    },
                    // {
                    //     "values": [
                    //                 <% sentiments["neutral"].forEach(element => { %>
                    //                     <%=element%>,
                    //                 <% }); %>
                    //                 ],
                    //     "scales": 'scale-x, scale-y-2',
                    //     "stacked":true,
                    //     "type": "bar",
                    //     "backgroundColor" : "orange",
                    //     "text": "Neutral",
                    //     "line-color": "orange",
                    //     "legend-item":{
                    //       "background-color": "orange",
                    //       "borderRadius":5,
                    //       "font-color":"white"
                    //     },
                    //     "legend-marker": {
                    //         "visible":false
                    //     },
                    //     "marker": {
                    //         "background-color": "#DDBF00",
                    //         "border-width": 1,
                    //         "shadow": 0,
                    //         "border-color": "#DDBF00"
                    //     },
                    //     "highlight-marker":{
                    //       "size":6,
                    //       "background-color": "#DDBF00",
                    //     }
                    // },
                    {
                        "values": [
                                    <% sentiments["positive"].forEach(element => { %>
                                        <%=element%>,
                                    <% }); %>
                                    ],
                        "scales": 'scale-x, scale-y-2',
                        "stacked":true,
                        "type": "bar",
                        "backgroundColor" : "green",
                        "text": "Positive Sentiment",
                        "line-color": "orange",
                        "legend-item":{
                          "background-color": "green",
                          "borderRadius":5,
                          "font-color":"white"
                        },
                        "legend-marker": {
                            "visible":false
                        },
                        "marker": {
                            "background-color": "#DDBF00",
                            "border-width": 1,
                            "shadow": 0,
                            "border-color": "#DDBF00"
                        },
                        "highlight-marker":{
                          "size":6,
                          "background-color": "#DDBF00",
                        }
                    },
                ]
            };
    zingchart.render({ 
    	id : 'time_sentiment_cases_plot', 
    	data : plotConfig, 
    	height: '100%', 
    	width: '100%' 
    });
    })
  </script>
</body>
